@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/RobotoBold.eot");
  src: url("../assets/fonts/RobotoBold.eot") format("embedded-opentype"),
    url("../assets/fonts/RobotoBold.woff2") format("woff2"),
    url("../assets/fonts/RobotoBold.woff") format("woff"),
    url("../assets/fonts/RobotoBold.ttf") format("truetype"),
    url("../assets/fonts/RobotoBold.svg#RobotoBold") format("svg");
}

@font-face {
  font-family: "PragmaticaBook";
  src: url("../assets/fonts/PragmaticaBook.eot");
  src: url("../assets/fonts/PragmaticaBook.eot") format("embedded-opentype"),
    url("../assets/fonts/PragmaticaBook.woff2") format("woff2"),
    url("../assets/fonts/PragmaticaBook.woff") format("woff"),
    url("../assets/fonts/PragmaticaBook.ttf") format("truetype"),
    url("../assets/fonts/PragmaticaBook.svg#PragmaticaBook") format("svg");
}

@font-face {
  font-family: "PragmaticaBold";
  src: url("../assets/fonts/PragmaticaBold.eot");
  src: url("../assets/fonts/PragmaticaBold.eot")
      format("embedded-opentype"),
    url("../assets/fonts/PragmaticaBold.woff2") format("woff2"),
    url("../assets/fonts/PragmaticaBold.woff") format("woff"),
    url("../assets/fonts/PragmaticaBold.ttf") format("truetype"),
    url("../assets/fonts/PragmaticaBold.svg#PragmaticaBold")
      format("svg");
}

@font-face {
  font-family: "PragmaticaBlack";
  src: url("../assets/fonts/PragmaticaBlack.eot");
  src: url("../assets/fonts/PragmaticaBlack.eot")
      format("embedded-opentype"),
    url("../assets/fonts/PragmaticaBlack.woff2") format("woff2"),
    url("../assets/fonts/PragmaticaBlack.woff") format("woff"),
    url("../assets/fonts/PragmaticaBlack.ttf") format("truetype"),
    url("../assets/fonts/PragmaticaBlack.svg#PragmaticaBlack")
      format("svg");
}
