.footer {
    background-color: $black;
    padding: 30px 0;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        background: url('../assets/img/logo-footer.png') center center/cover no-repeat;
        width: 145px;
        height: 30px;
    }

    &__contracts {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__contract {
        font-family: $PragmaticaBook;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #FFFFFF;

        &:hover {
            text-decoration: none;
        }
    }
}