.slogan {
  padding: 60px 0;
  background-color: $red;

  &__text {
      max-width: 730px;
    font-family: $PragmaticaBold;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 34px;
    text-transform: uppercase;
    color: $white;
  }

  &__btn {
      margin-top: 50px;
      display: inline-block;
      text-decoration: none;
      background-color: $white
  }


}
